body{
    padding: 0;
    margin: 0;
    background-image: url('../images/handshake.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.7);
}
.container{
    
      width: 1200px;
      height: 100%;
      margin: 0 auto;
      /*background-color: #efe;*/
}
.banner{
    z-index: 9999;
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,.7);
    position: fixed;
}
.logo{
    margin-left: 30px;
    float: left;
    background-image: url('../icons/icon.png');
    background-size: contain;
    height: 100px;
    width: 100px;
}
.search-container{
    float: left;
    padding: 1em;
}

.menu-container{
    float: right;
}

.menuItem{
    /* float: right; */
    outline: none;
    display: inline-block;
    padding: 1em;
    font-size: 1.5em;
}
/* link inside the menu bar */
.menuItem >a {
    display: block;
    text-decoration: none;
    color: rgb(184, 184, 184);
    transition: color .15s ease-in-out;
}
.menuItem >a:hover{
    color: #fff;
    transition: color .15s ease-in-out;
}



.search-box-input{
    width: 400px;
    font-size: inherit;
    border-radius: 1em 0em 0em 1em;
    border: .1em solid #aaa;
    background-color: rgba(129, 129, 129, 0.2);
    padding: 5px 20px;
    outline: 0;
    margin: 0px;
    transition: background-color .2s ease-in-out;
  }
  .search-box-input:hover{
    border: .1em solid rgb(13, 58, 182);
  }
  .search-box-input:focus{
    background-color: #fff;
    transition: background-color .2s ease-in-out;
  }
  .search-box-wrapper{
    float: left;
    display: inline-flex;
    padding: 5px;
    font-size: 1em;
    margin-top: 30px;
    margin-left:  100px;
  }
  .search-button{
    border-left: 0;
    border: 1px solid #aaa;
    outline: 0;
    background-color: rgb(34, 34, 34);
    color: #fff;
    font-weight: bold;
    border-radius: 0em 1em 1em 0em;
    font-size: inherit;
    padding: 5px 10px 5px 5px;
    margin: 0px;
    transition: background-color .2s ease-in-out;
  }
  .search-button:hover,
  .search-button:focus{
    background-color: #22730C;
  }
  